# Virtual Environment
.venv/
venv/

# Environment Variables
.env

# Python Cache
__pycache__/
*.py[cod]

# Pytest
.pytest_cache/
.coverage
htmlcov/

# VS Code
.vscode/

# Build Files
build/
dist/
*.egg-info/

# Logs
*.log

# macOS
.DS_Store